.login-container{
    margin-top: 8rem;
    font-family: "Poppins", sans-serif;
}
.input-bg{
    background-color: #f3f3f3;
    color: #dbd5d5;
    height: 2.9rem;
    font-size: 0.9rem;
}
.custom-btn{
    padding: 0.6rem;
    border-radius: 4px;

}
.custom-btn-blue{
    border: 2px solid #b3e0ff;
    background-color: #b3e0ff;
    color: #fff;
    padding: 14px;
}
.costom_button_sign{
    border: 2px solid #e5e7e9;
    background-color: #fdfeff;
    color: #000;
    padding: 14px;
}
.socialDesktop{
    display: block;
    margin-top: -50px;
}
.socialMobile{
    display: none;
}
@media only screen and (max-width: 450px){
    .socialDesktop{
        display: none;
        /* height: 200px; */
    }
    .socialMobile{
        display: block;
        height: 200px;
    }
    .login-container{
        margin-top: 2.5rem;
        

    }
    .card-body{
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    }
    .card{
        border: none !important;
    }
    .shadow{
        box-shadow: none !important;
    }
    .costom_button_sign{
        flex: 1 1 0;
        padding: 10px;
        font-size: 14px;
        /* min-width: 140px; */
        /* max-width: 160px; */
        /* height: 45px; */
        text-align: center;
    }
    
}
.hr-or-hr {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.hr-or-hr hr {
  flex: 1;
  height: 2px;
  background-color: #848181 !important;
  border: none;
}

.hr-or-hr span {
  padding: 0 10px !important;
  font-weight: bold;
}