.profile-pic {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.count-section {
    border-right: 3px solid #c3c3c3;

}

.container {
    width: 76vw !important;
}

.costom-btn {
    padding: 0.6rem;
    border-radius: 4px;
}

.costom-btn-white {
    border: 2px solid #e5e7e9 !important;
    background-color: #fdfeff;
    color: #000;
    padding: 14px;
}

.costom-btn-pink {
    border: 2px solid #ed2a7e !important;
    background-color: #ed2a7e;
    color: #fff;
    padding: 14px;
    width: 160px;
}

.upload-box {
    height: 400px;
    width: 350px;
    border: 2px dotted gray;
    border-radius: 10px;
    position: relative;
}

.dropZoneOverlay,
.fileUpload {
    width: 283px;
    height: 71px;
}

.dropZoneOverlay {

    font-family: cursive;
    color: #7066fb;
    position: absolute;
    top: 90px;
    left: 23px;
    text-align: center;

}

.fileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
}

/* @media only screen and (max-width:450px){
    .container{
        width: 100vw !important;
    }
    .costom-btn-white{
        
        width: 160px;
        
        
    }
    .gallry1{
        margin-right: 20px;
    }
    .gallry2{
            margin-left: 20px;
    }
} */
@media only screen and (max-width: 450px) {
    .container {
        width: 100vw !important;
    }

    .button-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* Optional spacing between buttons */
    }

    .costom-btn-white {
        flex: 1 1 0;
        padding: 10px;
        font-size: 14px;
        min-width: 140px;
        max-width: 160px;
        height: 45px;
        text-align: center;
    }

    .gallry1,
    .gallry2 {
        margin: 0 !important;
        /* Clear any manual margins */
    }

    .upload-box {
        height: 400px;
        width: 100%;
        border: 2px dotted gray;
        border-radius: 10px;
        position: relative;
    }
    .dropZoneOverlay{
    
    font-family: cursive;
    color: #7066fb;
    position: absolute;
    top: 90px;
    left: 1px;
    text-align: center;

}
}
.card-img-top{
    /* height: 50%; */
}